<%- include('../partials/header') %>

<h1 id="title">TarkovExperience</h1>

  <table id="list">
    <thead>
      <tr>
        <th>Area</th>
        <th>Duration</th>
        <th>Difficulty</th>
        <th>Boss</th>
        <th>Players</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <% locations.forEach(function(l) { %>
        <tr>
          <td>
            <%= l.area %>
          </td>

          <td>
            <%= l.duration %>
          </td>

          <td>
            <%= l.difficulty %>
          </td>
          <td>
            <%= l.boss %>
          </td>
          <td>
            <%= l.players %>
          </td>
          <td><a href="/locations/<%= l._id %>">DETAILS</a></td>


        </tr>
        <% }); %>
    </tbody>
  </table>



  <%- include('../partials/footer') %>