<%- include('../partials/header') %>

<h1 id="title">TarkovExperience</h1>

<!-- <div>
  <h2>
    All Locations
  </h2>
</div> -->
<div id="links">
  <h3>
    <a href="https://escapefromtarkov.fandom.com/wiki/Map_of_Tarkov">All-Locations</a>
  </h3>
  <h3>
    <a href="https://escapefromtarkov.fandom.com/wiki/Customs">Customs</a>
    <a href="https://escapefromtarkov.fandom.com/wiki/Factory">Factory</a>
    <a href="https://escapefromtarkov.fandom.com/wiki/Interchange">InterChange</a>
    <a href="https://escapefromtarkov.fandom.com/wiki/Lighthouse">LightHouse</a>
    <a href="https://escapefromtarkov.fandom.com/wiki/Reserve">Reserve</a>
    <a href="https://escapefromtarkov.fandom.com/wiki/Shoreline">Shoreline</a>
    <a href="https://escapefromtarkov.fandom.com/wiki/The_Lab">TheLab</a>
    <a href="https://escapefromtarkov.fandom.com/wiki/Woods">Woods</a>
  </h3>
</div>
<br></br>

  <table id="list">
    <thead>
      <tr>
        <th>Area</th>
        <th>Duration</th>
        <th>Difficulty</th>
        <th>Boss</th>
        <th>Players</th>
        <th>More Info</th>

      </tr>
    </thead>
    <tbody>
      <% locations.forEach(function(l) { %>
        <tr>
          <td>
            <%= l.area %>
          </td>

          <td>
            <%= l.duration %>
          </td>

          <td>
            <%= l.difficulty %>
          </td>
          <td>
            <%= l.boss %>
          </td>
          <td>
            <%= l.players %>
          </td>
          <td><a href="/locations/<%= l._id %>">DETAILS</a></td>
          <td><a href="/locations/edit/<%= l._id %>">O</a>


        </tr>
        <% }); %>
    </tbody>
  </table>



  <%- include('../partials/footer') %>