<%- include('../partials/header') %>

  <section id="show-page">
    <div>Area: </div>
    <div>
      <%= location.area %>
    </div>

    <div>Duration: </div>
    <div>
      <%= location.duration %>
    </div>

    <div>Difficulty: </div>
    <div>
      <%= location.difficulty %>
    </div>

    <div>Boss: </div>
    <div>
      <%= location.boss %>
    </div>

    <div>Players: </div>
    <div>
      <%= location.players %>
    </div>

    <br><br>

        <% if (experiences.length) { %>
          <table id="experienceBox">
            <tr>
              <th>KM Travel</th>
              <th>Body Damage</th>
              <th>Armor Damage</th>
              <th>Kills</th>
              <th>Ammo Used</th>
              <th>Bullets Hit</th>
              <th>HP Healed</th>
              <th>Medicine Used</th>
            
            </tr>
            <% experiences.forEach(function(e) { %>
              <tr>
                <td>
                  <%= e.travel %>
                </td>
                <td>
                  <%= e.damageBody %>
                </td>
                <td>
                  <%= e.damageArmor %>
                </td>
                <td>
                  <%= e.kill %>
                </td>
                <td>
                  <%= e.ammo %>
                </td>
                <td>
                  <%= e.hitCount %>
                </td>
                <td>
                  <%= e.hpHealed %>
                </td>
                <td>
                  <%= e.hpUsed %>
                </td>
             
              </tr>
              <% }) %>
          </table>
          <% } %>

            <form action="/locations/<%=location._id%>/experiences/new" method="GET">
              <input type="submit" value="NEW EXPERIENCE">
            </form>





            <%- include('../partials/footer') %>