<%- include('../partials/header') %>

  <h1 id="title">TarkovExperience</h1>

  <section id="show-page">
    <div>Area: </div>
    <div>
      <%= location.area %>
    </div>

    <div>Duration: </div>
    <div>
      <%= location.duration %>
    </div>

    <div>Difficulty: </div>
    <div>
      <%= location.difficulty %>
    </div>

    <div>Boss: </div>
    <div>
      <%= location.boss %>
    </div>

    <div>Players: </div>
    <div>
      <%= location.players %>
    </div>

    <br><br>

        <% if (location.experiences.length) { %>
          <table id="experienceBox">
            <thead>
              <tr>
                <th></th>
                <th>KM Travel</th>
                <th>Body Damage</th>
                <th>Armor Damage</th>
                <th>Kills</th>
                <th>Ammo Used</th>
                <th>Bullets Hit</th>
                <th>HP Healed</th>
                <th>Medicine Used</th>
                <th>Delete</th>
              </thead>           
              </tr>
              <tbody>
            <% location.experiences.forEach(function(e) { %>
              <tr>
                <td class="review-user"><img alt="avatar" src="<%= e.userAvatar %>"></td>
                <td>
                  <%= e.travel %>
                </td>
                <td>
                  <%= e.damageBody %>
                </td>
                <td>
                  <%= e.damageArmor %>
                </td>
                <td>
                  <%= e.kill %>
                </td>
                <td>
                  <%= e.ammo %>
                </td>
                <td>
                  <%= e.hitCount %>
                </td>
                <td>
                  <%= e.hpHealed %>
                </td>
                <td>
                  <%= e.hpUsed %>
                </td>

                <td>
                <% if (user && user._id.equals(e.user)) { %>
                  <form action="/experiences/<%= e._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                  </form>
                <% } %>
              </td>
              </tr>
              <% }); %>
              </tbody>
            </table>
          <% } %>

 
          <% if (user) { %>
            <form action="/locations/<%=location._id%>/experiences/new" method="GET">
              <input type="submit" value="NEW EXPERIENCE">
            </form>
           <% } %>



            <%- include('../partials/footer') %>